<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- css -->
        <link rel="stylesheet" href="/stylesheets/style.css">

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <!-- Font Awesome Icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

        <!-- calendar -->
        <link href='/fullcalendar/main.css' rel='stylesheet' />
        <script src='/fullcalendar/main.js'></script>

        <!-- angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

        <!-- front end controller -->
        <script src="/controllers/scheduler_page.js"></script>
        <title>Smart FYP Scheduler</title>
    </head>
    <body ng-app="scheduler" ng-controller="scheduler_controller">
        <div class="jumbotron d-flex align-items-center min-vh-100" >
            <div class="container" style="max-width: 95%;">
                <div class="row" style="padding:10">
                    <a>Welcome Group!</a>
                </div>

                <!-- Modal -->
                <button type="button" class="btn btn-primary" id="modalButton" data-toggle="modal" data-target="#exampleModal" style="display: none;">
                    Launch demo modal
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body" id="modalBody">
                            Body
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                    </div>
                </div>
                
                <button ng-click="refresh()" style="border: none;"><i class="fas fa-redo-alt"></i></button>
                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="hi" ng-click="confirmATime()">
                    Confirm a date
                </button>
                <!-- <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="hi" ng-click="testing()">
                    testing
                </button> -->
                <div class="row">
                    <div class="col col-lg-7" ng-init="load()">
                        <div id='calendar'></div>
                    </div>

                    <div class="col" id="chatbox" ng-init="loadMsg()">
                        <div class="container">
                            <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px; max-width:100%">
                                <div class="col-xs-12 col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading top-bar">
                                            <div class="col-md-8 col-xs-8">
                                                <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span>Command Box</h3>
                                            </div>
                                            <div class="col-md-4 col-xs-4" style="text-align: right;">
                                                <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                                                <a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
                                            </div>
                                        </div>
                                        <div class="panel-body msg_container_base" id="msgBody" style="max-height: 400px; height:400px;">
                                            
                                        </div>
                                        <div class="panel-footer">
                                            <div class="input-group">
                                                <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your response here..." />
                                                <span class="input-group-btn">
                                                <button class="btn btn-primary btn-sm" id="btn-chat" ng-click="sendCmd()">Send</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<!-- <div class="row msg_container base_sent">
    <div class="col-md-10 col-xs-10">
        <div class="messages msg_sent">
            <p>that mongodb thing looks good, huh?
            tiny master db, and huge document store</p>
            <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
        </div>
    </div>
    <div class="col-md-2 col-xs-2 avatar">
        <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
    </div>
</div> 
<div class="row msg_container base_receive">
    <div class="col-md-2 col-xs-2 avatar">
        <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
    </div>
    <div class="col-md-10 col-xs-10">
        <div class="messages msg_receive">
            <p>Welcome group 20 students! What would you like to do with this smart fyp scheduler?</p>
            <br>
            <p>1. Schedule a date (Please fill in the timeslot that you are not available)</p>
            <p>2. Reschedule a date (Cancel current date assigned and re-select unavailable slots)</p>
            <p>3. Generate a date</p>
            <p>4. Exit</p>
            <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
        </div>
    </div>
</div>
<div class="row msg_container base_sent">
    <div class="col-xs-10 col-md-10">
        <div class="messages msg_sent">
            <p>1</p>
            <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
        </div>
    </div>
    <div class="col-md-2 col-xs-2 avatar">
        <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
    </div>
</div>
<div class="row msg_container base_receive">
    <div class="col-md-2 col-xs-2 avatar">
        <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
    </div>
    <div class="col-xs-10 col-md-10">
        <div class="messages msg_receive">
            <p>Great! Please pick the slot that are not available to you on the left, and please input your name and the reasons that 
                you are unable to join this timeslot! Then type "Done".
            </p>
            <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
        </div>
    </div>
</div>
<div class="row msg_container base_sent">
    <div class="col-md-10 col-xs-10 ">
        <div class="messages msg_sent">
            <p>Done</p>
            <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
        </div>
    </div>
    <div class="col-md-2 col-xs-2 avatar">
        <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
    </div>
</div>
-->